#sponsorwrap {
    position: relative;
    height: 130px;
    width: 160px;
}

.sponsor {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.pin-wrapper > div {
    width: 208px;
}