#menu, #menu ul {
	margin: 0%;
	padding: 5px;
	list-style:none;
}
#menu {
	width: 100%;
	height: initial;
	/* margin-top: inherit; */
	background-color:#D1D1D1;
	background:linear-gradient(#D1D1D1, #BCBCBC);
	border-radius: 3px;
	/* position: relative; */
}
#menu:before,
#menu:after {
	content: "";
	display:inline-block;
}
#menu:after {
	clear:both;
}
#menu {
	zoom: 1;
}
#menu li {
	float:left;
	padding-left: 3px;
	position: relative;
}
#menu a{
	float: left;
	padding: 4px;
	color: #5C1F1F;
	font: bold 15px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#menu li:hover > a {
	color:#7D4C4C;
}
*html #menu li a:hover {
	/* IE6 Only */
	color:#7D4C4C;
}
#menu ul {
	margin: 20px 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 1;
	background-color:#757575;
	background: linear-gradient(#BCBCBC, #757575);
	border-radius: 3px;
	transition: all .2s ease-in-out;
}
#menu li:hover > ul {
	opacity: 1;
	visibility:visible;
	margin:0;
}
#menu ul ul {
	top:0;
	left:134px;
	margin:0;
	_margin:0;
}
#menu ul li {
	float:none;
	display:block;
	border: 0;
	_line-height: 0;
}
#menu ul a {
	padding: 10px;
	width: 110px;
	_height: 10px;
	display: block;
	white-space:nowrap;
	float:none;
	text-transform:none;
}
