@charset "utf-8";

#page {
	/* height: 142vw; */
	width: 90vw;
	/* max-width: 86vw; */
	background-color: white;
	border-radius: 4px;
	/* overflow:hidden; */
	font-family: sans-serif;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: auto;
	margin-left: auto;
}

#profile_image {
	display: flex;
	height: 19vw;
}

#rightcontent { display:none; }

#menu { display:none; }

#title_bar {
	height: 4em;
	width: 86vw;
	max-height: 9em;
    
	position: fixed;
	display: inline-flex;
	margin-top: -1em;
	border-radius: inherit;
	background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(130,140,149,1) 49%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(25%,rgba(255,255,255,1)), color-stop(49%,rgba(130,140,149,1)), 		 color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#28343b',GradientType=1 ); /* IE6-9 */
}

#titletext {
	margin: auto;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: -webkit-center;
	font-size: x-small;
}

#logoimage {
	 max-width: 100%;
	 height: 4em;
}

#content {
	display: initial;
	width: 80%;
	max-width: 80%;
	min-width: 60%;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
	text-align: -webkit-auto;
	margin-top: 4em;
}