body.canvas {
	background-color: #EFEEF3;
}

#page {
	height: 1024px;
	width: 1280px;
	margin: auto;
	background-color: white;
	border-radius: 4px;
}
#biopage {
	height: 1280px;
	width: 1280px;
	margin: auto;
	background-color: white;
	border-radius: 4px;
}
#title_bar {
	height: 150px;
	width: 1280px;
}
/***nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display:block;
}
nav ul {
	background: #D1D1D1;
	display:inline-block;
	list-style-type: none;
	height: 28px;
	width: 1272px;
	padding: 0;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 3px;
	position: relative;
}
nav ul:after {
	content: "";
	clear:both;
	display: block; 
}
nav ul li {
	display: inline;
	float: left;
}
nav ul li:hover {
	background: #A9A9A9;
}
nav ul li a {
	display: block;
	width: 100px;
	height: 20px;
nav ul li a {
	color: #5C1F1F;
	font-family:"Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 4px;
}
nav ul ul {
	margin:0px;
	padding:0px;
	border-radius: 0px;
	position: absolute;
	top: 100%;
	width: 108px;
}
nav ul ul li {
	float:none;
	position:relative;
}
nav ul ul ul li {
    float: none;
    position: relative;
}
nav ul ul li a {
	background: #A9A9A9;
	height: 20px;
}
nav ul ul li a:hover {
	background: #878787;
}
nav ul ul ul {
    float: inherit;
	position: absolute;
    left: 100%;
    top:0;
}
***/
#teambutton {
	display: inline;
	float: right;
}

#tempimage {
	display: block;
	width: 475px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
}
#socialbox {
	display: inline-block;
	width: 150px;
	height: 120px;
	background-color: #D1D1D1;
	float: right;
	margin: 8px;
	border-radius: 3px;
}
#content {
	margin: 4px;
	display: inline-block;
	width: 1080px;
	height: auto;
	float: left;
}
#rightcontent {
	display: inline-block;
	width: 192px;
	height: auto;
	float: right;
}
#sociallabel {
	text-align:center;
	margin-bottom:0px;
	margin-top:6px;
	color:#5C1F1F;
	font-family:"Times New Roman", Times, serif;
}
#facebook {
	display: inline-block;
	margin-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	height: 20px;
	width: 120px;
}
#twitter {
	display: inline-block;
	margin-top: 8px;
	padding-left: 45px;
	padding-right: 45px;
	height: 20px;
	width: 60px;
}
#profile_image {
	display: inline-block;
	margin: 8px;
	height: 134px;
	height: 134px;
	overflow: hidden;
}
img.biopic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 160px;
	width: 160px;
}
.biotext {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
div.biobox {
	display: inline-block;
	margin: 8px;
	width: 522px;
}
img.sponsorad {
	display: inline-block;
	width: 160px;
	height: 130px;
	float: right;
	margin: 8px;
}
