body.canvas {
	background-color: #EFEEF3;
}

#page {
	height: 1024px;
	width: 90vw;
	max-width: 90%;
	margin: auto;
	background-color: white;
	border-radius: 4px;
	overflow:hidden;
}
#biopage {
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: white;
	border-radius: 4px;
	overflow: hidden;
}
#title_bar {
	height: 150px;
	/* width: 100%; */
	max-height: 150px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(130,140,149,1) 49%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(25%,rgba(255,255,255,1)), color-stop(49%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(130,140,149,1) 49%,rgba(40,52,59,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#28343b',GradientType=1 ); /* IE6-9 */

}

#teambutton {
	float: right;
}

#tempimage {
	display: block;
	/* width: 475px; */
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
}
#socialbox {
	display: inline-block;
	width: 150px;
	height: 120px;
	background-color: #D1D1D1;
	float: right;
	margin: 8px;
	border-radius: 3px;
}
#content {
	margin: .25em;
	display: block;
	width: 80%;
	max-width: 80%;
	min-width: 60%;
	height: auto;
	float: left;
}
#rightcontent {
	display: inline-block;
	width: 15%;
	max-width: 15%;
	height: auto;
	float: right;
}
#sociallabel {
	text-align:center;
	margin-bottom:0px;
	margin-top:.375em;
	color:#5C1F1F;
	font-family:Arial, Helvetica, sans-serif;
}
#facebook {
	display: inline-block;
	margin-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	height: 20px;
	width: 120px;
}
#twitter {
	display: inline-block;
	margin-top: 8px;
	padding-left: 45px;
	padding-right: 45px;
	height: 20px;
	width: 60px;
}
#profile_image {
	display: inline-flex;
	margin: 0px;
	height: 150px;
	width: 90vw;
	max-width: 90%;
	overflow: hidden;
}
img.biopic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 160px;
	width: 160px;
}
.biotext {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
h1.biotext {
	font-family:Arial, Helvetica, sans-serif;
}
h2.biotext {
	font-family:Arial, Helvetica, sans-serif;
}
p.biotext {
	font:15px Arial, Helvetica, sans-serif;
}
div.biobox {
	display: inline-block;
	margin: .5em;
	width: 30%; /*522 for two column, 340 for 3 column*/
}
#sponsoradwrap {
	position:relative;
	width: 160px;
	height: 130px;
	margin: 8px;
	float: right;
}
img.sponsorad {
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 160px;
	height: 130px;
}

#titletext {
	margin: auto;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: -webkit-center;
}

#logoimage {
	 max-width: 100%;
}