<div class="center">
	<h3>2013-14 Team Sponsors</h3>
	<h4>Major Sponsors</h4>
	<p><img src="Images/Sponsors/acehardware.png" width="160" height="130"/><img src="Images/Sponsors/arrow.png" width="160" height="130"/>
	<img src="Images/Sponsors/brandinghabit.png" width="160" height="130"/> <img src="Images/Sponsors/joeflorida.png" width="160" height="130"/>
	<img src="Images/Sponsors/westusa.png" width="160" height="130"/></p>
	<div class="divider"></div>
	<h4>Individual Sponsors</h4>
	<p>Mrs. Gale Ransom, Williamson Family</p>
</div>