<div id="content" style="text-align: center">
	<h2>2013-14 Team Sponsors</h2>
	<h3>Major Sponsors</h3>
	<p><img src="Images/Sponsors/acehardware.png" width="160" height="130"/><img src="Images/Sponsors/arrow.png" width="160" height="130"/>
	<img src="Images/Sponsors/brandinghabit.png" width="160" height="130"/> <img src="Images/Sponsors/joeflorida.png" width="160" height="130"/>
	<img src="Images/Sponsors/westusa.png" width="160" height="130"/></p>
	<h3>Individual Sponsors</h3>
	<p>Mrs. Gale Ransom, Williamson Family</p>
</div>