<div id="content" style="text-align: center">
    <h1 class="biotext">2014-15 Member Bios</h1>
    
    
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Connor.png" height="160px" width="160px"/>

        <h2 class="biotext">Connor Belanger</h2>

        <p class="biotext">Lead Programmer, Junior, Age 16</p>

        <p class="biotext">Connor is the team's head programmer and the "Go to fix it program" guy. Programming is one one of his passions and 
        he is fluent in LabView and RobotC. Along with one of his teammates, Devan, they have written all of the code for the team's robot that
        has competed in the Arizona FIRST™ Tech Challenge (FTC) the past 2 years. This is Connor's 3rd year attending the Odyssey Institute (OI)
        and participating in the FTC. Besides being involved in the Robotics Club at OI, Connor is a member of the OI National Honor Society and 
        swims on the Minotaurs Varsity Swim team. Also, Connor is serving his 2nd term on the City of Goodyear Youth Commission. When not 
        involved in school or volunteer activites, you will find Connor reading up on the latest, greatest technology and dreaming of the 
        future! After high school, Connor looks forward to attending a University and majoring in Computer Science with the hopes of working 
        at Google.
        </p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Matt.png"/>

        <h2 class="biotext">Matthew Comstock</h2>

        <p class="biotext">Captain, Junior, Age 17</p>

        <p class="biotext">This is Matthew's third year at Odyssey and also his third year
        as a member of the Automatons.  He is currently in charge of the
        team’s business plan and monitors all financial transactions.
        Matthew is involved with the school’s theater troupe and will
        be traveling to London, Paris, and Verona in November 2014,
        performing William Shakespeare's "Romeo and Juliet".  Normally
        involved with the school's swim team, Matthew was the first
        student in the school’s history to win an individual swim
        event.  Last season he also qualified for the state regional
        championship in the 100-meter backstroke and 200-meter
        individual medley.  This past summer he enrolled at Estrella
        Mountain Community College where he currently maintains a 4.0
        GPA.  Matthew is the Vice President of the school's symphonic
        band, and plays the alto saxophone.  Matthew is a gaming
        enthusiast and aspires to be an engineer after attending
        college.
        </p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Megan.png"/>

        <h2 class="biotext">Megan Comstock</h2>

        <p class="biotext">Drive Team Coach, Sophmore, Age 15</p>

        <p class="biotext">This is Megan's fourth year at Odyssey and her second year as a member of the Automatons.  
        She is currently the team’s director of public relations. Megan is involved with the school’s theater troupe and will be traveling 
        to London, Paris, and Verona in November 2014, performing William Shakespeare's "Romeo and Juliet".  Last year she traveled to 
        Europe to perform in “The Taming of the Shrew”.  This past summer she enrolled at Estrella Mountain Community College where she 
        currently maintains a 4.0 GPA.  Megan thinks the four food groups should be macaroni & cheese, raspberry iced tea, chocolate and 
        ketchup.  She loves spending time with her dog Prim Rose and playing Titan Fall and Portal 2 on the Xbox 360. Megan hopes to be a 
        psychiatrist after attending college.
        </p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Gage.png"/>

        <h2 class="biotext">Gage Ginest</h2>

        <p class="biotext">Driver, Junior, Age 16</p>

        <p class="biotext">This is Gage's second year at Odyssey and his first year on the robotics team. Gage is on our
            event team and worked on our flag-raising arm, pull-up arm, and the autonomous arm. Gage is also on our
            drive team, as Driver 1.
        </p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Anthony.png"/>

        <h2 class="biotext">Anthony Jimenez</h2>

        <p class="biotext">Hardware Engineer, Junior, Age 16</p>

        <p class="biotext">This is currently Anthony's third year at Odyssey and his first year on the robotics team.
            Antony can be called by the name of "Taco" and he enjoys playing the Drums. Anthony always makes others on
            the team laugh.</p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Kindel.png"/>

        <h2 class="biotext">Kendall Lilley</h2>

        <p class="biotext">Driver, Hardware Engineer, Junior, Age 16</p>

        <p class="biotext">Kendall Lilley joined the team last year.  Robotics is a great way to expand his engineering skills.  
        He  is a hardware engineer for the Automatons, and has worked on parts of the robot such as the arm and the body, and is also a 
        back-up secondary driver on the team. He  participates in fundraising for the team and increase exposure for the team in volunteering 
        at events.  Kendall is active in karate and is currently a brown belt at S.K.A, and instructs classes sometimes when the instructor 
        needs him. He is pursuing a career in a field of engineering. Kendall is a homeschooled student.</p>
    </div>
    <div class="biobox">

        <h2 class="biotext">Caleb Odle</h2>

        <p class="biotext">Hardware Engineer, Junior, Age 16</p>

        <p class="biotext">This is Caleb’s third year at Odyssey and his first year of the Automatons. He is the team’s metallurgist 
        (Metallurgy-The study of metals and their properties in bulk and at the atomic level) and ensures the robots structural integrity. 
        He is also on the OI golf team, and during his free time Caleb enjoys to play DOTA with his friends. He is determined to become the 
        World’s leading Titanium metallurgist. Caleb is the team’s only metallurgist.
        </p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Devan.png"/>

        <h2 class="biotext">Devan Pratt</h2>

        <p class="biotext">Driver, Programmer, Junior, Age 17</p>

        <p class="biotext">Devan is one of our team's main go to programming guys and writes code for the robot along
            with Connor. This is Devan's fifth year at Odyssey and he has been on the robotics team since 8th grade.
            During his free time, Devan likes to play video games and hang out with friends. Devan wants to do something
            revolving around engineering when he grows up but isn't sure which field of engineering yet. Devan is also
            on our drive team as driver two.</p>
    </div>
    <div class="biobox">
        <h2 class="biotext">Derrek Ta</h2>
        <p class="biotext">Freshman, Age 14</p>
        <p class="biotext">I love gaming, wants to be a programmer, enjoy music and food. In my free-time I play games and listen 
        to music. I got into programming from games. The games I play inspired me to start  doing programming and create better games. 
        I'm a huge fan of food. I'm a foodie. I also play the clarinet over 2 years. I started to do robotics because its a fun new 
        experience and I wanted to create programs.</p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Katie.png"/>

        <h2 class="biotext">Katie Vranesic</h2>

        <p class="biotext">Drive Team Coach, Sophmore, Age 16</p>

        <p class="biotext">Katie Vranesic is a tenth grade scholar who has attended Odyssey for four years. This is her second year 
        on the team, and is mainly in charge of the Twitter and Facebook accounts. Along with being on the robotics team, Katie is 
        President of the OI Band, and is on the OI Golf team.
        </p>
    </div>
    <div class="biobox">
        <img class="biopic" src="Images/Bios/Jack.png"/>

        <h2 class="biotext">Jack Williamson</h2>

        <p class="biotext">Hardware Engineer, Sophmore, Age 15</p>

        <p class="biotext">This is Jacks third year at odyssey. He loves robotics and always can contribute and add
            great ideas on our team. In addition to robotics Jack was on the swim team this year and greatly improved
            throughout the season. Jack also enjoys playing Pokemon.</p>
    </div>
</div>