<div class="center">
	<h3>2014-15 Team Sponsors</h3>
	<h4 style="color: #DAA520">Gold</h4>
	<p>
		<img class="responsive-img" src="Images/Sponsors/campro.png" width="160" height="130"/>
		<img class="responsive-img" src="Images/Sponsors/fluor.png" width="160" height="130"/>
		<img class="responsive-img" src="Images/Sponsors/lowes.png" width="160" height="130"/>
		<img class="responsive-img" src="Images/Sponsors/sx.png" width="160" height="130"/>
	</p>
	<div class="divider"></div>
	<h3 style="color: #C0C0C0">Silver</h3>
	<p>
		<img class="responsive-img" src="Images/Sponsors/aaahardwood.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/amc.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/anymoment.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/brandinghabit.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/cardinals.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/godaddy.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/hs.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/marrabrothers.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/officemax.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/phx-suns.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/springhill.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/statefarm.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/superrealty.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/wwz.png" width="120" height="98"/>
	</p>
	<div class="divider"></div>
	<h4>Individual Sponsors</h4>
	<p>Peggy Coates, Lilley Family, Vranesic  Family, Jimenez Family, Edward Horn, Williamson Family, Comstock Family, Nancy B., Borchers Family</p>
</div>