<div class="content" style="text-align: center">
	<h2>2014-15 Team Sponsors</h2>
	<h3>Major Sponsors</h3>
	<p>
		<img src="Images/Sponsors/godaddy.png" width="160" height="130"/><img class="sponsorad" src="Images/Sponsors/whrealty.png" width="160" height="130"/>
		<img src="Images/Sponsors/lowes.png" width="160" height="130"/><img src="Images/Sponsors/officemax.png" width="160" height="130"/>
		<img src="Images/Sponsors/statefarm.png" width="160" height="130"/><img src="Images/Sponsors/marrabrothers.png" width="160" height="130"/>
		<img src="Images/Sponsors/wwz.png" width="160" height="130"/><img class="sponsorad" src="Images/Sponsors/amc.png" width="160" height="130"/>
	</p>
	<h3>Individual Sponsors</h3>
	<p>Peggy Coates, Lilley Family, Vranesik Family, Jimenez Family</p>
</div>