<div class="center">
	<h3>2015-16 Team Sponsors</h3>
	<h4 style="color: #DAA520">Gold</h4>
	<p>
		<img class="responsive-img" src="Images/Sponsors/campro.png" width="160" height="130"/>
		<img class="responsive-img" src="Images/Sponsors/fluor.png" width="160" height="130"/>
		<img class="responsive-img" src="Images/Sponsors/lowes.png" width="160" height="130"/>
		<img class="responsive-img" src="Images/Sponsors/sx.png" width="160" height="130"/>
	</p>
	<div class="divider"></div>
	<h4 style="color: #C0C0C0">Silver</h4>
	<p>
		<img class="responsive-img" src="Images/Sponsors/brandinghabitat.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/sundt.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/godaddy.png" width="120" height="98"/>
		<img class="responsive-img" src="Images/Sponsors/graphofphotons.png" width="120" height="28"/>
		<img class="responsive-img" src="Images/Sponsors/uspatio.png" width="120" height="41"/>
	</p>
	<div class="divider"></div>
	<h4>Individual Sponsors</h4>
	<p>Peggy Coates, Lilley Family, Vranesic  Family, Jimenez Family, Edward Horn, Williamson Family, Comstock Family, Nancy B., Borchers Family, Keiper-Cusack Family</p>
</div>