<div>
    <h2 class="center-align">2015-16 Bios</h2>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/cb.png" />
  
        <h3 class="center-align">Connor Belanger</h3>

        <p class="center-align">Senior, Age 17</p>

        <p class="center-align">Connor is the team’s lead programmer with
        programming skills in Java, HTML, CSS, and RobotC. Connor is a Senior
        at Odyssey and plans on attending ASU Barrett next year. He has
        participated in FLL for a year and FTC three years. He has been
        studying Mandarin Chinese and even visited China in February. He
        currently designs websites for a living and eventually wants to pursue
        a career in Cyber Intelligence.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/mc.png" />

        <h3 class="center-align">Matthew Comstock</h3>

        <p class="center-align">Senior, Age 18</p>

        <p class="center-align">This is Matthew's fourth year at Odyssey and
        also his fourth year as a member of the Automatons. He is currently in
        charge of the team’s business plan and monitors all financial
        transactions. Matthew is involved with the school’s theater troupe and
        is currently performing as the lead in William Shakespeare's "Macbeth".
        This past summer he enrolled at Estrella Mountain Community College
        where he currently maintains a 4.0 GPA. Matthew is the Vice President
        of the school's symphonic band, and plays the alto saxophone. Matthew
        is a gaming enthusiast and aspires to go into medicine after attending
        college.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/mec.png" />

        <h3 class="center-align">Megan Comstock</h3>

        <p class="center-align">Junior, Age 16</p>

        <p class="center-align">This is Megan's fifth year at Odyssey and her
        third year as a member of the Automatons. She is still the team’s
        director of public relations as she was last year and is also part of
        the base team for the robot. Megan is involved in theatre at the school
        and was even the lead in the school's production of “Bye Bye Birdie” at
        the end of last year. Also in past years she traveled to places in
        Europe such as London, France, and Italy to perform William
        Shakespeare’s “Romeo and Juliet” and “The Taming of the Shrew”. The
        past two summers she attended classes at Estrella Mountain Community
        College where she currently maintains a 4.0 GPA. Megan enjoys playing
        her guitar and ukulele and learning new songs to play any time she can.
        She loves spending time with her dog Primrose, playing Xbox, and
        watching YouTube and Netflix.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/gg.png" />

        <h3 class="center-align">Gage Ginest</h3>

        <p class="center-align">Senior, Age 17</p>

        <p class="center-align">This is Gage's fourth year at Odyssey and his
        third year on the robotics team.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/aj.png" />

        <h3 class="center-align">Anthony Jimenez</h3>

        <p class="center-align">Senior, Age 17</p>

        <p class="center-align">This is currently my 5th year at Odyssey and my
        3rd year on the robotics team. My main job is to build the main game
        pieces of the robot after the plans and sketches have been created. I
        like to play both drums and guitar, and practice random songs for
        guitar on my free time. I also like to play games like Smite and cs:go,
        and partake in the experience of dank memes.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/kl.png" />

        <h3 class="center-align">Kendall Lilley</h3>

        <p class="center-align">Senior, Age 17</p>

        <p class="center-align">Kendall, as a homeschool senior, has been
        grateful to be part of the Odyssey robotics team for the last three
        years. This year he is designer of the debris collector and
        distributor, however is interested and wants to increase his skills in
        all areas, especially programming. Being in robotics has taught him
        about the many areas of engineering and he would like to have a career
        in one of these fields.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/co.png" />

        <h3 class="center-align">Caleb Odle</h3>

        <p class="center-align">Senior, Age 18</p>

        <p class="center-align">This is Caleb’s third year on the robotics team
        and he attends Skyview.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/dp.png" />

        <h3 class="center-align">Devan Pratt</h3>
        
        <p class="center-align">Senior, Age 18</p>

        <p class="center-align">Devan is one of our team's main go to
        programming guys and writes code for the robot along with Connor.
        This is Devan's sixth year at Odyssey and he has been on the robotics
        team since 8th grade. During his free time, Devan likes to play video
        games and hang out with friends. Devan wants to do something revolving
        around engineering when he grows up but isn't sure which field of
        engineering yet. Devan is also on our drive team as driver two.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/dt.png" />
        
        <h3 class="center-align">Derrek Ta</h3>
        
        <p class="center-align">Sophomore, Age 15</p>
        
        <p class="center-align">Hello my name is Derrek. It's been my second
        year in robotics and it's been a blast. I made tons of new friends. I'm
        really competitive, love trying new things, and I'm always up for a
        challenge.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/Katie.png" />

        <h3 class="center-align">Katie Vranesic</h3>

        <p class="center-align"> Junior, Age 17</p>

        <p class="center-align">Katie Vranesic is an eleventh grade scholar who
        has attended Odyssey for five years. This is her third year on the 
        team, and is mainly in charge of the Twitter and Facebook accounts. 
        Along with being on the robotics team, Katie is President of the OI
        Band, and is on the OI Golf team.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/jw.png" />

        <h3 class="center-align">Jack Williamson</h3>

        <p class="center-align">Junior, Age 17</p>

        <p class="center-align">Jack Williamson has been with Odyssey since the
        7th grade. Jack is one of the Hardware Engineers on the Odyssey
        Automatons Team including being on the Base Sub Team and Debris
        Collection and Distribution this year. Jack’s loves building and
        designing robots, his career choice is to be an Engineer. Jack is
        mechanically inclined and very creative; He loves robotics and always
        contributes and has great ideas he shares with the team. Jack
        participated in Lego Robotics in 7th Grade and has participated in
        Arizona FIRST™ Tech Challenge (FTC) for the past three years with the
        while at Odyssey Institute (OI). Jack has been part of the Swim team at
        OIAIS for the past three years. Jack has accomplished a personal
        project of building and programming a robot. Jack is very involved in
        his church: He has gone on three mission trips; he is a Junior Mentor
        for the 4/5 Grades and the Middle Schoolers, he runs the Tech area.
        Jack’s also participates in 4H, this is his fourth year. 
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/br.png" />
        
        <h3 class="center-align">Brandon Rude</h3>
        
        <p class="center-align">Sophomore, Age 15</p>
        
        <p class="center-align">Brandon Rude has attended Odyssey for 2 years,
        and this is his first year with the Robotics team. He is working with
        the base sub team to build the robot, and plans to move onto
        Programming next year. Brandon is a gamer at heart, and is very
        imaginative, smart, and creative when he knows the ins and outs of
        what he’s working with. He has travelled to places all over the world
        like New York, Costa Rica, London, France, and many more, and collects 
        a magnet for a souvenir that can be placed on the wall of his metal
        desk.  On the days that he isn’t with the Robotics club, he is with
        the OI Swim Team for practicing after school.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/aam.png" />
        
        <h3 class="center-align">Aaron Maxwell</h3>
        
        <p class="center-align">Sophomore, Age 15</p>
        
        <p class="center-align">Aaron Maxwell is a Sophomore at the Odyssey
        Institute. This is his first year of robotics, and he is looking
        forward to the challenge ahead of him. He has earned his eagle scout
        and he loves being of service in the community. Aaron is a member of
        the OI drumline and band, is learn Chinese, the Adopt-A-Grandparent
        club, and he has been part of the interact club, where he went out and
        did a service project once a month.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/amm.png" />
        
        <h3 class="center-align">Ammon Maxwell</h3>
        
        <p class="center-align">Sophomore, Age 15</p>
        
        <p class="center-align">Ammon Maxwell is a Sophomore at Odyssey, and
        this is his first year on the robotics team. He has been part of the
        school’s drumline since it first started, as well as the school
        band for the past 5 five years, and is currently in his sixth year with
        the band. he has been learning Mandarin for the past 4 years, and is
        taking his fifth year. Ammon is part of the Boy Scouts of America, and
        has achieved the rank of Eagle Scout. He has had a little exposure
        robotics through the Robotics Merit Badge, but he still has a lot of
        things to learn about robotics. He is excited to learn new skills as
        well as to challenge himself.
        </p>
    </div>
    <div class="card-panel grey lighten-5 center">
        <img class="center-align" src="Images/Bios/dl.png" />
        
        <h3 class="center-align">Derek Lane</h3>
        
        <p class="center-align">Freshman, Age 14</p>
        
        <p class="center-align">Being Derek’s first year at the
        school and on the team, he’ll be gaining the experience needed for
        future years while learning a lot about the workings of this
        competition. With knowledge in programming and an interest in
        computers and mathematics for years, he will be assisting the team in making
        the bots do what the team wants them to do, as well as share any ideas
        that cross his mind. Derek hopes this will help him towards a good
        career involving computer science.
        </p>
    </div>
</div>