<div class="center">
    <h3>About Us</h3>

    <p>
        The Automatons are a robotics team from the Odyssey Institute for Advanced andInternational Studies in Buckeye,
        Arizona.
        The Automatons are a member of <em> For Inspiration and Recognition of Science and Technology (FIRST) </em>. The
        team was
        founded in 2012-13 and competed at the Arizona State Championships with just five members.
    </p>
    <div class="divider"></div>
    <h3>About FTC</h3>

    <p>
        FIRST, which operates FIRST Tech Challenge competitions, has the expressed goal of developing ways to inspire
        students in
        engineering and technology fields. The FIRST Tech Challenge (FTC) is a robotics competition for students in
        grades
        9-12. FTC is designed for teams to compete head to head, using a sports model. Teams are responsible for
        designing, building,
        and programming their robots to compete in an alliance format against other teams.
    </p>
    <div class="divider"></div>
    <h3>Our High School</h3>

    <p><a href="http://odyprep.com/oi/">The Odyssey Institute for Advanced and International Studies</a></p>

    <h4>Location</h4>

    <p>
        1495 S Airport Road, Buckeye, Arizona
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.279536119738!2d-112.50257959999945!3d33.4336663218607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b3616423d4c17%3A0x1c0144344e04d12a!2s1495+S+Airport+Rd!5e1!3m2!1sen!2sus!4v1393353633595"
            width="600" height="400" frameborder="0" style="border:0">
    </iframe>
    <div class="divider"></div>
    <h3>Team Name</h3>

    <p>
        In keeping with the Odyssey school naming convention we knew we wanted something mythological for our robotics
        team name.
        We immediately thought of <em>Talos</em>. Talos was a giant man of bronze who protected the Phoenician princess
        Europa, in Crete,
        from pirates and invaders. Talos was considered, in some academic circles, to be an <em>automaton</em>. An
        automaton is a mechanical
        figure or contrivance constructed to act as if by its own motive power; a robot.
    </p>
    <div class="divider"></div>
    <h3>Team Motto</h3>

    <p>We Dream, We Achieve, We Lead</p>
    <div class="divider"></div>
    <h3>Automatons by the Numbers</h3>
    <ul>
        <li>0 – Number of matches won in our rookie season</li>
        <li>11 – Number of matches won in our sophomore season</li>
        <li>0.688 – The team’s winning percentage in 2013-14</li>
        <li>9 – Number of current members: 3 freshman, 6 sophomores (and growing!)</li>
        <li>10 – The team’s goal was to be a top-10 team in 2013-14</li>
        <li>6 – The team’s actual finish at the 2013-14 state championships</li>
        <li>6174 – Our FTC team number</li>
    </ul>
</div>