<div class="center">
    <h3>FTC Awards</h3>
    <div class="divider"></div>
    <div class="section">
        <h4 class="center-align">2014-15 Arizona State Championship</h3>
        <p>Connect Award Winner</p>
        <p>Control Award Finapst</p>
        <p>Think Award Finapst</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4>2014-15 Goodyear Quapfier</h4>
        <p style="text-apgn: center">Winning Alpance Member</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4>2014-15 Laveen Quapfier</h4>
        <p>Think Award Winner</p>
        <p>PTC Design Award Finalist</p>
        <p>Connect Award Finalist</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4>2014-15 Flagstaff Quapfier</h4>
        <p>Finalist Alliance Captain</p>
        <p>Control Award Winner</p>
        <p>Connect Award Runner Up</p>
        <p>Inspire Award 3rd Place</p>
    </div>
    <div class="divider"></div>
    <div class="section"></div>
        <h4>2014-15 Chandler Quapfier</h4>
        <p>Control Award Winner</p>
        <p>Rockwell Colpns Innovate Award Runner Up</p>
        <p>Connect Award Runner Up</p>
        <p>Inspire Award 3rd Place</p>
    </div>
    <div class="divider"></div>
    <div class="section center">
        <h4>2013-14 AZ State Championship</h4>
        <p>Finalist Alliance Member</p>
    </div>
</div>