<div id="content">
    <h2 style="text-align: center">FTC Awards</h2>
    <h3 style="text-align: center">2014-15 Goodyear Qualifier</h3>
    <p style="text-align: center">Winning Alliance Member</p>
    <h3 style="text-align: center">2014-15 Laveen Qualifier</h3>
    <ul>
        <li>Think Award Winner</li>
        <li>PTC Design Award Finalist</li>
        <li>Connect Award Finalist</li>
    </ul>
    <h3 style="text-align: center">2014-15 Flagstaff Qualifier</h3>
    <ul>
        <li>Finalist Alliance Captain</li>
        <li>Control Award Winner</li>
        <li>Connect Award Runner Up</li>
        <li>Inspire Award 3rd Place</li>
    </ul>
    <h3 style="text-align: center">2014-15 Chandler Qualifier</h3>
    <ul>
        <li>Control Award Winner</li>
        <li>Rockwell Collins Innovate Award Runner Up</li>
        <li>Connect Award Runner Up</li>
        <li>Inspire Award 3rd Place</li>
    </ul>
    <h3 style="text-align: center">2013-14 AZ State Qualifier</h3>
    <p style="text-align: center">Finalist Alliance Member</p>
</div>