<div class="center">
    <h3>FTC Awards</h3>
    <div class="divider"></div>
    <div class="section">
        <h4 class="center-align">2015-16 Phoenix Qualifier</h4>
        <p>Control Award Winner</p>
        <p>Think Award Nominee</p>
        <p>Semi-Finalist Aliance Captain</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4 class="center-align">2015-16 Tucson Qualifier</h4>
        <p>Control Award Nominee</p>
        <p>PTC Design Award Nominee</p>
        <p>Rockwell Award Nominee</p>
        <p>Connect Award Nominee</p>
        <p>Think Award Nominee</p>
        <p>Finalist Alliance Member</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4 class="center-align">2015-16 Chandler Qualifier</h4>
        <p>Inspire Award Winner</p>
        <p>Control Award Nominee</p>
        <p>PTC Design Nominee</p>
        <p>Connect Award Nominee</p>
        <p>Think Award Nominee</p>
        <p>Semi-Finalist Alliance Captain</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4 class="center-align">2014-15 Arizona State Championship</h3>
        <p>Connect Award Winner</p>
        <p>Control Award Nominee</p>
        <p>Think Award Nominee</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4>2014-15 Goodyear Qualifier</h4>
        <p style="text-apgn: center">Winning Alliance Member</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4>2014-15 Laveen Qualifier</h4>
        <p>Think Award Winner</p>
        <p>PTC Design Award Nominee</p>
        <p>Connect Award Nominee</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h4>2014-15 Flagstaff Qualifier</h4>
        <p>Finalist Alliance Captain</p>
        <p>Control Award Winner</p>
        <p>Connect Award Nominee</p>
        <p>Inspire Award Nominee</p>
    </div>
    <div class="divider"></div>
    <div class="section"></div>
        <h4>2014-15 Chandler Qualifier</h4>
        <p>Control Award Winner</p>
        <p>Rockwell Collins Innovate Award Nominee</p>
        <p>Connect Award Nominee</p>
        <p>Inspire Award Nominee</p>
    </div>
    <div class="divider"></div>
    <div class="section center">
        <h4>2013-14 AZ State Championship</h4>
        <p>Finalist Alliance Member</p>
    </div>
</div>