<div id="content" style="text-align: center">
	<h3>Why Donate?</h3>
	<p>Your donations help us pay for parts, registration, and travel FTC competions. 
		Every cent is used effectively for the betterment of our team as whole and is never wasted on needeless things.
		The closer we are to fuffilling our wishlist to closer we are to succeding and buidling the best team and robot possible.</p>
	<h3>How can you donate?</h3>
	<p>You can donate using a check donation by mail and later on a direct payment link will be available.
		Please look at <a title="Donation Levels" href="#/donationlevels">Donation Levels</a> to determine how much you wish to donate.
		Also if you are mailing a check please include a return adress and a slip with an email where we can contact you for more information. </p>
	<h4>Check Donations</h4>
	<p><u>Mail to:</u> Odyssey Automatons, 1495 S Airport Road, Buckeye, Arizona 85326</p>
	<p>Make the check out to: TOPA. Please put Robotics Club in the memo line to insure that the check is deposited to our account!</p>
</div>
