<div class="center">
  <h3>Donation Levels</h3>
  
  <h4 style="color: #483D8B">Blue Ribbon</h4>
  <p><em>$5,000 or above</em></p>
  <p>Plaque; Logo on Robot, Banner, FB Page, and Website</p>
  <div class="divider"></div>
  <h4 style="color: #DAA520">Gold*</h4>
  <p><em>$1,000 to $4,999</em></p>
  <p>Logo on Robot, Banner, FB Page, and Webpage</p>
  <div class="divider"></div>  
  <h4 style="color: #C0C0C0">Silver*</h4>
  <p><em>$750 to $999</em></p>
  <p>Logo on Robot, Banner, FB Page, and Webpage</p>
  <div class="divider"></div>  
  <h4 style="color: #D2691E">Bronze*</h4>
  <p><em>$500 to $749</em></p>
  <p>Logo on Robot, Banner, FB Page, and Webpage</p>
  <div class="divider"></div>  
  <h4>Benefactor</h4>
  <p><em>$250 to $499</em></p>
  <p>Logo on Robot, Banner, FB Page, and Webpage</p>
  <div class="divider"></div>  
  <h4>Supporter</h4>
  <p><em>$100 to $249</em></p>
  <p>Logo on Robot, FB Page, and Webpage</p>
  <div class="divider"></div>  
  <h4>Friend</h4>
  <p><em>$1 to $99</em></p>
  <p>Mention on FB Page and Webpage</p>
  <div class="divider"></div>
  <p>*Higher level of donation means bigger space for your logo.</p>
  
  </div>