<div id="content" style="text-align: center">
  <h2>Donation Levels</h2>
  
  <h3 style="color: #483D8B">Blue Ribbon</h3>
  <p><em>$5,000 or above</em></p>
  <p>Plague; Logo on Robot, T-Shirt, Banner, FB Page, and Website</p>
  
  <h3 style="color: #DAA520">Gold*</h3>
  <p><em>$1,000 to $4,999</em></p>
  <p>Logo on Robot, T-Shirt, Banner, FB Page, and Webpage</p>
  
  <h3 style="color: #C0C0C0">Silver*</h3>
  <p><em>$750 to $999</em></p>
  <p>Logo on Robot, T-Shirt, Banner, FB Page, and Webpage</p>
  
  <h3 style="color: #D2691E">Bronze*</h3>
  <p><em>$500 to $749</em></p>
  <p>Logo on Robot, T-Shirt, Banner, FB Page, and Webpage</p>
  
  <h3>Benefactor</h3>
  <p><em>$250 to $499</em></p>
  <p>Logo on Robot, Banner, FB Page, and Webpage</p>
  
  <h3>Supporter</h3>
  <p><em>$100 to $249</em></p>
  <p>Logo on Robot, FB Page, and Webpage</p>
  
  <h3>Friend</h3>
  <p><em>$1 to $99</em></p>
  <p>Mention on FB Page and Webpage</p>
  
  <p>*- Higher level of donation means bigger space for your logo.</p>
  
  </div>