<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 id="welcome" class="center-align fade-in">Welcome to our site!</h3>
            <img id="teamBanner" class="responsive-img fade-in" src="Images/teambanner.png" />
            <div id="video" class="video-container fade-in">
                <iframe width="492" height="277" src="https://www.youtube.com/embed/1VTTcc-D-bU" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="contactInfo" class="fade-in">
                <p>
                    <span style="text-decoration: underline">Email:</span> oiautomatons@topamail.com
                </p>
                <p>
                    <span style="text-decoration: underline">Phone Number:</span> 623-327-1757
                </p>
                <p>
                    <span style="text-decoration: underline">Address:</span> 1495 S Verrado Wy., Buckeye, AZ 85326
                </p>
            </div>
        </div>
    </div>
</div>