<div id="content" style="text-align: center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan metus lorem, tristique rhoncus tellus
        pretium at. Maecenas a neque nec libero eleifend egestas. Phasellus fermentum, turpis quis fringilla laoreet,
        lacus eros aliquet ante, sed ornare ligula lacus at est. Fusce faucibus, ante a hendrerit tincidunt, erat neque
        euismod massa, id pretium dui massa sed libero. Morbi libero mauris, faucibus id fringilla vitae, placerat et
        nunc. Vestibulum id tortor placerat, molestie felis quis, imperdiet ante. Pellentesque cursus nibh eget ipsum
        condimentum, in semper metus pretium. Fusce vitae nisl ac dolor condimentum molestie a quis felis. Donec aliquet
        turpis a vestibulum porttitor. Suspendisse aliquet ligula quis nunc commodo fermentum. Nulla suscipit purus sit
        amet nisl tempus, sed tincidunt mauris luctus. Sed tincidunt dolor ut ipsum pharetra ultricies. </p>

    <p>
        <span style="text-decoration: underline">Email:</span> oiautomatons@topamail.com
    </p>

    <p>
        <span style="text-decoration: underline">Phone Number:</span> 623-327-1757
    </p>

    <p>
        <span style="text-decoration: underline">Address:</span> 1495 S Airport Rd., Buckeye, AZ 85326
    </p>
</div>