<div id="content">
	<h2 style="text-align: center">Wishlist</h2>
	<h3>Must Have</h3>
	<ul>
		<li>Hex Wrenches (SAE)
			<ul>
				<li>2 sets (Ball end Preferred</li>
				<li>2 sets T-handle (long)</li>
			</ul>
		</li>
		<li>Wrenches
			<ul>
				<li>1 set combination (SAE)</li>
				<li>2 extra 5/16 combination wrenches (this is our most used size)</li>
			</ul>
		</li>
		<li>Pliers
			<ul>
				<li>Miniature Needle nose (straight & curved)</li>
				<li>2 Vice grip (7R)</li>
				<li>2 Needle nose vise grip (6LN)</li>
				<li>Wire cutters (small)</li>
			</ul>
		</li>
		<li>Files
			<ul>
				<li>Small set (needed to clean burs off gear teeth,  de-bur cut metal)</li>
			</ul>
		</li>
		<li>Zip Ties (6-8 inches)</li>
		<li>Electrical Tape</li>
		<li>Screw Driver Set</li>
		<li>Wire
			<ul>
				<li>18 AWG (Black and red, or twisted pair)</li>
				<li>Shrink Tube for splices</li>
			</ul>
		</li>
		<li>Tool Box</li>
	</ul>
	<h3>Nice to Have</h3>
	<ul>
		<li>5/16 nut driver (or set)</li>
		<li>Cordless drill</li>
		<li>Drill Bits
			<ul>
				<li>1 set SAE</li>
				<li>1 set Metric</li>
			</ul>
		</li>
		<li>Grinder (Dremel Style)</li>
		<li>Soldering Iron and solder</li>
	</ul>
</div>