*.class
*.pyc
*.pyo
*.DS_Store
*.DS_Store?
*.idea
*.idea/*

.idea/workspace.xml

*.xml

*.xml

*.xml

*.iml

.idea/oiautomatonsweb.iml

.idea/modules.xml

.idea/workspace.xml

.idea/libraries/Google_App_Engine_SDK.xml

.idea/libraries/Google_App_Engine_SDK.xml

*.xml

.idea/vcs.xml

.idea/misc.xml

.idea/misc.xml
